.DS_Store
.idea
cache
backup-*
upgrade
uploads
cca_maxmind_data
ccwpsc_plugins
advanced-cache.php
wp-cache-config.php
ewww
themes/twenty*
themes/the-ecu-pro/error_log
wp-rocket-config/localhost.php
debug.log
wp-rocket-config/
webtoffee_import/
webtoffee_iew_log/
maintenance.php
languages/
index.php
error_log
.htaccess
