<!DOCTYPE html>
<html lang="en">

<div class="field-group">
    <label> First Name</label>
    [text* first-name]
</div>

<div class="field-group">
    <label> Last Name</label>
    [text* last-name]
</div>

<div class="field-group">
    <label> Your email</label>
    [email* your-email]
</div>

<div class="field-group">
    <label> Phone</label>
    [tel* tel-116]
</div>

<div class="field-group">
    <label> Address</label>
    [text* Street]
</div>

<div class="field-group">
    <label> Address line 2</label>
    [text Address line 2]
</div>

<div class="field-group">
    <label> City</label>
    [text* City]
</div>

<div class="field-group">
    <label> State</label>
    [text* State]
</div>

<div class="field-group">
    <label> Zip Code</label>
    [text* Zip Code]
</div>

<div class="field-group">
    <label> Country</label>
    [text* Country]
</div>

<div class="field-group">
    <label> Vehicle Make, Model and Year *</label>
    [text* Vehicle Make Model and Year]
</div>

<div class="field-group">
    <label> Vehicle VIN - Full VIN or last 7 numbers *</label>
    [text* Vehicle VIN - Full VIN or last 7 numbers]
</div>

<div class="field-group">
    <label> Your message (optional)</label>
    [textarea your-message]
</div>

<div class="field-group">
    [submit "Submit"]
</div>

</html>